.box{
    border: 2px solid black;
    width: 240px;
    height: 240px;
    background-color: blueviolet;
     border-radius: 20px;
      
        gap: 8px;
        display: flex;
}

.main{

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 85px 180px;
    border: 2px solid red;
    width: 1040px;
    height: 1024px;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
   
    
}

.boxcha{

    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background-color: yellow;
   
  
}

.box2{

    flex-direction: column;

}

.box3{
    flex-wrap: wrap;
   
}

.box0{
  margin-bottom: 200px;
}

.box4{

    display: flex;
    justify-content: space-between;
}

.box5{
    display: flex;
}

.box6{

    display: flex;
    justify-content: right;
}

.box7{
    display: flex;
    justify-content: center;
}

.box8{
    display: flex;
    justify-content: space-between;
}

.box9{
    display: flex;
    
}

.box10{

    display: flex;
    justify-content: space-around;
}

.box11{

    display: flex;justify-content: safe;
    
}

.boxcha1{

    margin-top: 90px;
}

.box12{

    display: flex;
    justify-content: space-around;

    
}

.body{

    background-color: rgb(161, 92, 225);
}